/* shadow 
autor: Raffael Stueken
*/


/* COMMON STYLES START */

html, a, div, select, input { outline: none; }

body {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #141414;
	text-align: center;
	background-color: #fff;
}

body.loading {
}

img, iframe, input {
	border:none;
}

a {
	color: #141414;
	text-decoration: none;
}

a:hover {
	color: #e95948;
}

p {
	font-size: 1em;
	line-height: 1.375em;
	margin: 0 auto 1em auto;
}

/* setup */

#wrapper {
	margin: 50px;
}

#borderTop, #borderBottom {
	width: 100%;
	height: 50px;
	background: #fff;
	position: fixed;
	top: 0;
}

#borderBottom {
	bottom: 0;
	top: auto;
}

/* top logo */

#topLogo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -9px 0 0 -32px;
	width: 64px;
	height: 16px;
	opacity: 0;
	background: url(img/shadow_logo_small.gif) center center no-repeat;
	transition: 			opacity 0.3s ease-in-out;
	-webkit-transition: 	opacity 0.3s ease-in-out;
	-moz-transition: 		opacity 0.3s ease-in-out;
	-o-transition: 			opacity 0.3s ease-in-out;
}

body.content #topLogo {
	opacity: 1;
	transition: 			opacity 0.8s ease-in-out;
	-webkit-transition: 	opacity 0.8s ease-in-out;
	-moz-transition: 		opacity 0.8s ease-in-out;
	-o-transition: 			opacity 0.8s ease-in-out;
}


/* section */

section {
	background: #f0f0f0;
	height: 600px;
	position: relative;
}

.sectionWrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.sectionContent {
	padding-top: 50px;
	position: relative;
}

.backImg, .backImg img {
	position: absolute;
	top: 0;
	left: 0;
}

.static {
	height: 600px;
}

.static .sectionWrapper {
	padding-top: 200px;
}

.staticSmall {
	height: 400px;
}

.staticSmall .sectionWrapper {
	padding-top: 120px;
}

.sectionHalf {
	/*
	width: 50%;
	float: left;
	height: 100%;*/
	height: 50%;
}

.leftContent, .rightContent {
	width: 50%;
	height: 100%;
	float: left;
}

.rightContent {
	float: right;
}

h3, h4 {
	margin: 0 0 0.2em 0;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

h4 {
	font-size: 0.875em;
}

p.big {
	font-size: 1.375em;
	line-height: 1.35em;
	letter-spacing: 0.5px;
}

p.upperCase {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

p.centered {
	margin-top: 160px;
}

/* animation */

.show1, .show2, .show3, .show4, .showFull, .showBottom {
	opacity: 0;
	transition: 				all 0.5s ease-in-out;
	-webkit-transition: 		all 0.5s ease-in-out;
	-moz-transition: 			all 0.5s ease-in-out;
	-o-transition: 				all 0.5s ease-in-out;
	transition-delay: 			0s;
	-moz-transition-delay: 		0s;
	-webkit-transition-delay: 	0s;
	-o-transition-delay: 		0s;
}

.showP, .showPF {
	padding-top: 25px;
}

.inView .showP,
.bottomView .showP,
.fullView .showPF {
	padding-top: 0px;
}

.inView .show1,
.bottomView .show1 {
	opacity: 1;
	transition-delay: 			0s;
	-moz-transition-delay: 		0s;
	-webkit-transition-delay: 	0s;
	-o-transition-delay: 		0s; 
}

.inView .show2,
.bottomView .show2 {
	opacity: 1;
	transition-delay: 			0.25s;
	-moz-transition-delay: 		0.25s;
	-webkit-transition-delay: 	0.25s;
	-o-transition-delay: 		0.25s; 
}

.inView .show3,
.bottomView .show3 {
	opacity: 1;
	transition-delay: 			0.5s;
	-moz-transition-delay: 		0.5s;
	-webkit-transition-delay: 	0.5s;
	-o-transition-delay: 		0.5s; 
}

.inView .show4,
.bottomView .show4 {
	opacity: 1;
	transition-delay: 			0.75s;
	-moz-transition-delay: 		0.75s;
	-webkit-transition-delay: 	0.75s;
	-o-transition-delay: 		0.75s; 
}

.bottomView .showFull,
.fullView .showFull {
	opacity: 1;
}

/* content sec1 */
/* logo */

#logo {
	width: 260px;
	height: 87px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -130px;
}

#logo a {
	display: block;
	width: 100%;
	height: 100%;
}

#logo a img {
	width: 100%;
	height: 100%;
}


/* content problem */

#secProblem {
	
}

#secProblem h3 {
}

#theProblem {
	background: #222;
	color: #fff;
}

/* content solution */

#secProblem {
	
}

#secSolution h3 {
}

#theSolution {
}

/* content sec3 */

#secAppimg {
	color: #fff;
	background: #ff5842 url(img/shadow_app_01.jpg) center center no-repeat fixed;
	background-size: cover;	
}


/* content App img */

.secAppfunc {
	background: #222;
	color: #fff;
}

.secAppfunc .sectionContent {
	padding-top: 0;
}

.secAppfunc .leftContent, .secAppfunc .rightContent {
	width: 40%;
	height: auto;
}

.secAppfunc .leftContent {
	margin-top: 10%;
}

.secAppfunc .rightContent {
	margin-top: 30%;
}

.appImg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#secAppfunc .appImg {
	opacity: 0.1;
	background: #222 url(img/shadow_iphone5_01.png) center center no-repeat fixed;
}

#secAppfunc1 .appImg {
	background: #222 url(img/shadow_iphone5_01.png) center center no-repeat;
}

#secAppfunc1.sticky .appImg {
	background: #222 url(img/shadow_iphone5_01.png) center center no-repeat fixed;
}

#secAppfunc2 {
	color: #141414;
}

#secAppfunc2 .appImg {
	background: #f0f0f0 url(img/shadow_iphone5_02.png) center center no-repeat fixed;
}

#secAppfunc3 .appImg {
	background: #222 url(img/shadow_iphone5_03.png) center center no-repeat fixed;
}

#secAppfunc4 {
	color: #141414;
}

#secAppfunc4 .appImg {
	background: #f0f0f0 url(img/shadow_iphone5_04.png) center center no-repeat fixed;
}

#secAppfunc5 .appImg {
	background: #222 url(img/shadow_iphone5_05.png) center center no-repeat fixed;
}

#secAppfunc5.sticky .appImg {
	background: #222 url(img/shadow_iphone5_05.png) center center no-repeat;
}



#sec5 {
	color: #fff;
	background: #ff5842;
}

#sec6 {
	/* background: #ff5842; */
}


/* menu */

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu {
	margin: 0;
	height: 100%;
	position: relative;
}

#menu ul {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -110px;
}

#menu li {
	float: left;
	display: inline-block;
	padding: 0 10px;
	height: 24px;
}

#menu li a {
	display: block;
	height: 100%;
	line-height: 24px;
	text-align: center;
	font-size: 0.625em;
	padding: 0 10px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 2px;
	transition: 			all 0.25s ease-in-out;
	-webkit-transition: 	all 0.25s ease-in-out;
	-moz-transition: 		all 0.25s ease-in-out;
	-o-transition: 			all 0.25s ease-in-out;
}

#menu li a:hover {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.08);
}


/* navigation */

.naviHook {
	height: 50px;
	margin-top: -50px;
	width: 1px;
	position: relative;
}

#nav {
	position: fixed;
	right: 2.5%;
	top: 25%;
	margin-right: -4px;
}

#acti {
	position: absolute;
	top: 0px;
	right: -3px;
	margin-top: 6px;
	width: 10px;
	height: 10px;
	border-radius: 6px;
	border: 1px solid #ddd;
	transition: 			all 0.5s ease-in-out;
	-webkit-transition: 	all 0.5s ease-in-out;
	-moz-transition: 		all 0.5s ease-in-out;
	-o-transition: 			all 0.5s ease-in-out;
}

#nav ul {
	position: relative;
	padding-left: 20px;
	transition: 			all 0.3s ease-in-out;
	-webkit-transition: 	all 0.3s ease-in-out;
	-moz-transition: 		all 0.3s ease-in-out;
	-o-transition: 			all 0.3s ease-in-out;
}

#nav li {
	height: 24px;
	cursor: pointer;
	position: relative;
	transition: 			all 0.5s ease-in-out;
	-webkit-transition: 	all 0.5s ease-in-out;
	-moz-transition: 		all 0.5s ease-in-out;
	-o-transition: 			all 0.5s ease-in-out;
}

#nav li span {
	display: block;
	float: right;
}

#nav li .linkText {
	opacity: 0;
	overflow: hidden;
	width: 0;
	position: absolute;
	top:1px;
	right: -6px;
	text-align: center;
	font-size: 0.625em;
	padding: 5px 10px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	/*margin-right: 30px;*/
	color: #141414;
}

#nav li .linkDot {
	background: #000;
	margin-top: 9px;
	height: 6px;
	width: 6px;
	border-radius: 3px;
	position: relative;
}

#nav ul:hover li {
	width: 140px;
	opacity: 1 !important;
}

#nav li:hover .linkText {
	opacity: 1;
	/*margin-right: 20px;*/
	width: 130px;
	background: #fff;
	display: block;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
	transition: 			opacity 0.5s ease-in-out;
	-webkit-transition: 	opacity 0.5s ease-in-out;
	-moz-transition: 		opacity 0.5s ease-in-out;
	-o-transition: 			opacity 0.5s ease-in-out;
}

.a1 #l2 {
	opacity: 0.5;
}

.a1 #l3 {
	opacity: 0.2;
}

.a1 #l4 {
	opacity: 0.1;
}

.a1 #l5 {
	opacity: 0;
}

.a2 #l1 {
	opacity: 0.5;
}

.a2 #l2 {
	opacity: 1;
}

.a2 #l3 {
	opacity: 0.5;
}

.a2 #l4 {
	opacity: 0.2;
}

.a2 #l5 {
	opacity: 0.1;
}

.a3 #l1 {
	opacity: 0.2;
}

.a3 #l2 {
	opacity: 0.5;
}

.a3 #l3 {
	opacity: 1;
}

.a3 #l4 {
	opacity: 0.5;
}

.a3 #l5 {
	opacity: 0.2;
}

.a4 #l1 {
	opacity: 0.1;
}

.a4 #l2 {
	opacity: 0.2;
}

.a4 #l3 {
	opacity: 0.5;
}

.a4 #l4 {
	opacity: 1;
}

.a4 #l5 {
	opacity: 0.5;
}

.a5 #l1 {
	opacity: 0;
}

.a5 #l2 {
	opacity: 0.1;
}

.a5 #l3 {
	opacity: 0.2;
}

.a5 #l4 {
	opacity: 0.5;
}

.a5 #l5 {
	opacity: 1;
}


/*

.a2 ul {
	margin-top: -24px;
}

.a3 ul {
	margin-top: -48px;
}

.a4 ul {
	margin-top: -72px;
}

.a5 ul {
	margin-top: -96px;
}

*/

.a2 #acti {
	top: 24px;
}

.a3 #acti {
	top: 48px;
}

.a4 #acti {
	top: 72px;
}

.a5 #acti {
	top: 96px;
}


/* Clearfix For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* Clearfix For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}

.fLeft {
	float: left;
}


/* subscribe */

#subscribe {
	position: absolute;
	bottom: 15%;
	left: 0;
	margin: 0;
	width: 100%;
}

.indicates-required, label {
	display: none;
}

#formWrapper {
	background: #f3f3f3;
	border-radius: 3px;
	width: 260px;
	max-width: 80%;
	margin: 0 auto;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
	transition: 			width 0.25s ease-in-out;
	-webkit-transition: 	width 0.25s ease-in-out;
	-moz-transition: 		width 0.25s ease-in-out;
	-o-transition: 			width 0.25s ease-in-out;
}

input {
	font-size: 0.8125em;
	background: transparent;
	margin: 0;
	font-family: inherit;
	vertical-align: middle;
}

input.input {
	width: 130px;
	padding: 5px 10px;
	height: 20px;
	color: #707070;
	transition: 			width 0.25s ease-in-out;
	-webkit-transition: 	width 0.25s ease-in-out;
	-moz-transition: 		width 0.25s ease-in-out;
	-o-transition: 			width 0.25s ease-in-out;
}

input.button {
	padding: 0 2px;
	text-align: center;
	margin: 4px;
	background: #313131;
	border: 1px solid #212121;
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
	letter-spacing: 1px;
}

#formWrapper.focused input.input {
	width: 200px;
	color: #000;
}

#formWrapper.focused {
	width: 340px;
	max-width: 80%;
}

input.button:hover {
	background: #e95948;
	border: 1px solid #d75344;
}

#formWrapper .field {
	float: left;
}

#formWrapper .submit {
	float: right;
}

#links {
	text-align: center;
}

#links a {
	display: inline-block;
	padding: 0.8em 0.5em;
	font-size: 0.8125em;
	color: #000;
	text-decoration: none;
}

#links a:hover {
	color: #e95948;
}


/* Small screens / mobile ----------- */
@media only screen 
and (max-width : 767px) {

	body {
		font-size: 14px;
	}
	
	h1 {
		width: 190px;
		height: 90px;
		margin: -55px 0 0 -105px;
	}	
	
	h1 a {
		background-size: 190px 90px;
	}
	
	#formWrapper {
		width: 220px;
	}
	
	input.input {
		width: 90px;
	}
	
	input.button {
		padding: 2px;
	}
	
	#formWrapper.focused input.input {
		width: 90px;
	}
	
	#formWrapper.focused {
		width: 220px;
	}
	
}

/* no rollover for touch devices  ----------- */
@media only screen 
and (max-width : 1024px) {
		
	h1 a:hover {
		background: url(img/shadow_logo.png) left top no-repeat;
	}
		
}

