/* shadow 
autor: Raffael Stueken
*/


/* COMMON STYLES START */

html, a, div, select, input { outline: none; }

body {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color:#000;
	text-align: center;
	background-color: #090909;
	overflow-y: scroll;
}

body.loading {
	background: #090909 url(img/loader.gif) no-repeat 40px 40px;
}

img, iframe, input {
	border:none;
}

img {
	image-rendering: optimizeSpeed;
}

/* main */

h1 {
	width: 380px;
	height: 180px;
	border: 20px solid #fff;
	border-radius: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -210px;
	line-height: 180px;
}


h1 a {
	text-indent: -9999px;
	background: url(img/shadow_logo.png) left top no-repeat;
	color:#000;
	text-decoration:none;
	display: block;	
	transition: 		background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
	-moz-transition: 	background 0.3s ease-out;
}

h1 a:hover {
	background: #333 url(img/shadow_logo.png) left top no-repeat;
}

/* section */

#wrapper {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

section {
	background: #fff;
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
}

.sectionWrapper {
	padding-top: 100px;
}

#sec1 {
	color: #fff;
	background: url(img/shadow_back_01.jpg) center center no-repeat fixed;
	background-size: cover;
}

#sec3 {
	background: #222 url(img/shadow_iphone5_06.png) 25% center no-repeat;
}

#sec4 {
	color: #fff;
	background: url(img/shadow_back_02.jpg) center center no-repeat fixed;
	background-size: cover;
}

#sec5 {
	background: #fff;
}

/* navigation */

#nav {
	position: fixed;
	right: 2.5%;
	top: 60%;
	margin-right: -4px;
}

#acti {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 12px;
	height: 12px;
	border-radius: 7px;
	border: 1px solid #ddd;
	opacity: 0.5;
	transition: 			all 0.5s ease-in-out;
	-webkit-transition: 	all 0.5s ease-in-out;
	-moz-transition: 		all 0.5s ease-in-out;
	-o-transition: 			all 0.5s ease-in-out;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav ul {
	position: relative;
	transition: 			all 0.3s ease-in-out;
	-webkit-transition: 	all 0.3s ease-in-out;
	-moz-transition: 		all 0.3s ease-in-out;
	-o-transition: 			all 0.3s ease-in-out;
}

#nav ul:hover li {
	opacity: 1 !important;
}

#nav li {
	height: 24px;
	cursor: pointer;
	transition: 			all 0.5s ease-in-out;
	-webkit-transition: 	all 0.5s ease-in-out;
	-moz-transition: 		all 0.5s ease-in-out;
	-o-transition: 			all 0.5s ease-in-out;
}

#nav li span {
	display: block;
	float: right;
}

#nav li .linkText {
	display: none;
	float: left;
}

#nav li .linkDot {
	background: #ddd;
	height: 8px;
	width: 8px;
	border-radius: 4px;
}

.a1 #l2 {
	opacity: 0.5;
}

.a1 #l3 {
	opacity: 0.2;
}

.a1 #l4 {
	opacity: 0.1;
}

.a1 #l5 {
	opacity: 0;
}

.a2 #l1 {
	opacity: 0.5;
}

.a2 #l2 {
	opacity: 1;
}

.a2 #l3 {
	opacity: 0.5;
}

.a2 #l4 {
	opacity: 0.2;
}

.a2 #l5 {
	opacity: 0.1;
}

.a3 #l1 {
	opacity: 0.2;
}

.a3 #l2 {
	opacity: 0.5;
}

.a3 #l3 {
	opacity: 1;
}

.a3 #l4 {
	opacity: 0.5;
}

.a3 #l5 {
	opacity: 0.2;
}

.a4 #l1 {
	opacity: 0.1;
}

.a4 #l2 {
	opacity: 0.2;
}

.a4 #l3 {
	opacity: 0.5;
}

.a4 #l4 {
	opacity: 1;
}

.a4 #l5 {
	opacity: 0.5;
}

.a5 #l1 {
	opacity: 0;
}

.a5 #l2 {
	opacity: 0.1;
}

.a5 #l3 {
	opacity: 0.2;
}

.a5 #l4 {
	opacity: 0.5;
}

.a5 #l5 {
	opacity: 1;
}


/*

.a2 ul {
	margin-top: -24px;
}

.a3 ul {
	margin-top: -48px;
}

.a4 ul {
	margin-top: -72px;
}

.a5 ul {
	margin-top: -96px;
}

*/

.a2 #acti {
	top: 21px;
}

.a3 #acti {
	top: 45px;
}

.a4 #acti {
	top: 69px;
}

.a5 #acti {
	top: 93px;
}


/* Clearfix For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* Clearfix For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}

.fLeft {
	float: left;
}


/* wrapper */

#back {
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#back img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* subscribe */

p {
	font-size: 1em;
	line-height: 1.375em;
	margin: 0 auto 1em auto;
	width: 400px;
	max-width: 80%;
}

#subscribe {
	position: absolute;
	bottom: 15%;
	left: 0;
	margin: 0;
	width: 100%;
}

.indicates-required, label {
	display: none;
}

#formWrapper {
	background: #f3f3f3;
	border-radius: 3px;
	width: 260px;
	max-width: 80%;
	margin: 0 auto;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
	transition: 			width 0.25s ease-in-out;
	-webkit-transition: 	width 0.25s ease-in-out;
	-moz-transition: 		width 0.25s ease-in-out;
	-o-transition: 			width 0.25s ease-in-out;
}

input {
	font-size: 0.8125em;
	background: transparent;
	margin: 0;
	font-family: inherit;
	vertical-align: middle;
}

input.input {
	width: 130px;
	padding: 5px 10px;
	height: 20px;
	color: #707070;
	transition: 			width 0.25s ease-in-out;
	-webkit-transition: 	width 0.25s ease-in-out;
	-moz-transition: 		width 0.25s ease-in-out;
	-o-transition: 			width 0.25s ease-in-out;
}

input.button {
	padding: 0 2px;
	text-align: center;
	margin: 4px;
	background: #313131;
	border: 1px solid #212121;
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
	letter-spacing: 1px;
}

#formWrapper.focused input.input {
	width: 200px;
	color: #000;
}

#formWrapper.focused {
	width: 340px;
	max-width: 80%;
}

input.button:hover {
	background: #e95948;
	border: 1px solid #d75344;
}

#formWrapper .field {
	float: left;
}

#formWrapper .submit {
	float: right;
}

#links {
	text-align: center;
}

#links a {
	display: inline-block;
	padding: 0.8em 0.5em;
	font-size: 0.8125em;
	color: #000;
	text-decoration: none;
}

#links a:hover {
	color: #e95948;
}


/* Small screens / mobile ----------- */
@media only screen 
and (max-width : 767px) {

	body {
		font-size: 14px;
	}
	
	h1 {
		width: 190px;
		height: 90px;
		margin: -55px 0 0 -105px;
	}	
	
	h1 a {
		background-size: 190px 90px;
	}
	
	#formWrapper {
		width: 220px;
	}
	
	input.input {
		width: 90px;
	}
	
	input.button {
		padding: 2px;
	}
	
	#formWrapper.focused input.input {
		width: 90px;
	}
	
	#formWrapper.focused {
		width: 220px;
	}
	
}

/* no rollover for touch devices  ----------- */
@media only screen 
and (max-width : 1024px) {
		
	h1 a:hover {
		background: url(img/shadow_logo.png) left top no-repeat;
	}
		
}

